.profileFormContainer{
    text-align: left;
    background-color: white;
    width: 700px;
    height: 200px;
    margin-top: 5%;
    margin-bottom: 8%;
    margin-left: 28%;
    margin-right: 32%;
    padding-left: 150px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-right: 150px;
    position: left;
}